html,
body {
  background-color: #242424 !important;
}
.weatherAppBody {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}
.searchSection {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.cityInput {
  width: 100%;
  border-radius: 3rem;
  padding-left: 1rem;
  font-size: medium;
  font-weight: bold;
}
.bodyWeather {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.panelLeft {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 1rem;
  height: 18rem;
}
.panelRight {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  background-color: #ffffff;
  border-style: solid;
  border-radius: 1rem;
  overflow: scroll;
  padding-bottom: 1rem;
  padding-top: 1rem;
  height: 21rem;
}
.panelForDateOfWeekWeather {
  display: flex;
  justify-content: center;
  align-items: center;
}
.panelForDayofWeekWeather {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dayOfWeekPanel {
  display: flex;
  flex-wrap: wrap;
  border: #000000;
  border-style: solid;
  border-radius: 0.5rem;
}
.titleDayOfWeek {
  text-align: center;
  text-transform: capitalize;
}
.city {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
}
.cityName {
  text-align: center;
}
.cityMoment {
  text-align: right;
}
.iconSearch {
  font-size: large;
  font-weight: bold;
}
.iconWeather {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todayIcon {
  width: 10rem;
}
.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.daylyWeather {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dailyDate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dailyTemp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}
